@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  box-sizing: border-box;
  /* width: 100%; */
}

html {
  overflow-x: hidden;
}


body {
  background-color: #f8fafc;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.blur-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  filter: blur(1px);
  z-index: -1;
}

.backdrop {
  backdrop-filter: blur(2px);
  filter: blur(1px);
}

.active {
  position: relative;
  border-radius: 20px 0px 0px 20px;
  background: #f8fafc;
  color: #1a2e05;
  font-weight: bold;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.active::after, .active::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  right: 0px;
}

.active::after {
  top: -14px;
  background: radial-gradient(circle at top left, #1a2e05, 14px, #f8fafc 15px);
}

.active::before {
  bottom: -14px;
  background: radial-gradient(circle at bottom left, #1a2e05, 14px, #f8fafc 15px);
}

.inactive {
  color: #fff;
}

.glossy {
  background-color: rgba(255, 255, 255, 0.5); 
  box-shadow: 34px 34px 68px 0px rgba(199, 194, 194, 0.25), inset -8px -8px 16px 0px rgb(246, 250, 255), inset 0px 14px 28px 0px #fffdfd ;
}

.backdrop {
  backdrop-filter: blur(2px);
  filter: blur(1px);
}

#modal-root {
  display: grid;
  justify-items: center;
}


.selected {
  position: relative;
  text-transform: capitalize;
}


.selected::after {
  content: "";
  position: absolute;
  background-color: #4d7c0f;
  width: 100%;
  bottom: -1.7rem;
  left: 0;
  height: 3px;
  transition: width 150ms ease-in-out;
}

.unselected {
  color: #fff;
  border: none;
}

.job-card-actions {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.job-card-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  border-radius: .3rem;
  visibility: hidden;
  background: rgba(179, 178, 178, 0.25);
  -webkit-transition:  visibility 0s linear;
  transition:  visibility 0s linear;
}

.job-card {
  width: inherit;
  border-radius: .5rem;
  transition: transform 1s, filter 1.5s ease-in-out;
  transform-origin: center center;
  object-fit: cover;
}

/* .job-card:hover {
  cursor: pointer;
  opacity: .5;
  filter: brightness(100%);
} */

.job-card:hover .job-card-actions {
  visibility: visible;
  opacity: 0.9;
}

.job-card:hover .job-card-backdrop {
  visibility: visible;
  backdrop-filter: blur(2px);
  filter: blur(1px);
}

.ant-row-flex, .ant-row {
  margin: 0 !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: break-all;
  -ms-word-break: break-word;
}